body {
	font-size: 14px;
	background: #e7ecf2;
	color: #122236;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 1320px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
